
*.exe
*.manifest
*.cache
SerakTesseractTrainer/.vs/SerakTesseractTrainer/v14/.suo
SerakTesseractTrainer/SerakTesseractTrainer/bin/Debug/SerakTesseractTrainer.pdb
SerakTesseractTrainer/SerakTesseractTrainer/obj/Debug/SerakTesseractTrainer.pdb
